/* --- 1. ESTRUTURA GLOBAL --- */
:root {
    --gold: #d4af37;
    --gold-glow: rgba(212, 175, 55, 0.4);
    --black-tech: #0a0a0a;
    --glass: rgba(255, 255, 255, 0.03);
    --nav-height: 80px;
    --footer-height: 60px;
}

.page-container {
    background-color: var(--black-tech);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}