/* Variáveis e Fontes */
:root {
    --gold: #d4af37;
    --gold-glow: rgba(212, 175, 55, 0.5);
    --black-tech: #0a0a0a;
    --bg-darker: #111111;
    --radius: 12px;
}

/* Estrutura Sticky Footer */
html,
body {
    height: 100%;
    /* Necessário para o cálculo do flex */
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--black-tech);
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

/* O elemento <main> vai crescer para ocupar o espaço vazio */
main,
.system-body {
    flex: 1 0 auto;
    width: 100%;
}

/* Tipografia e Utilidades */
.logo-text {
    font-family: 'Syncopate', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
}

.text-gold {
    color: var(--gold);
}

.custom-radius {
    border-radius: var(--radius) !important;
    overflow: hidden;
}

/* Botão Cyber Padronizado */
.btn-cyber {
    border: 1px solid var(--gold);
    color: var(--gold);
    padding: 12px 25px;
    text-transform: uppercase;
    transition: 0.4s;
    box-shadow: 0 0 10px var(--gold-glow);
    background: transparent;
}

.btn-cyber:hover {
    background: var(--gold);
    color: black;
    box-shadow: 0 0 25px var(--gold);
}