.footer-bottom {
    background-color: #050505;
    border-top: 1px solid rgba(212, 175, 55, 0.2);
    margin-top: 50px; /* Garante que ele não cole na última seção */
}

.social-link-gold {
    color: var(--gold);
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.social-link-gold:hover {
    color: white;
    transform: translateY(-3px);
}

.extra-small {
    font-size: 0.7rem;
    letter-spacing: 1px;
}